body{
    margin-top: 2%;
    font-family: 'Raleway', sans-serif;
}

h1{
    font-size:36px;
    font-weight:700;
}
h2{
    padding-top: 5px;
    color: black;
    font-size: 24px;
    font-weight:600;
    margin-top:30px;
    margin-bottom:0px;
}
h3{
    font-weight:400;
    padding-bottom: 5px;
    font-size:20px;
    color: #333333;
    line-height:150%;
    margin-top:0px;
    margin-bottom:20px;
}
h3.close-to-bottom{
    margin-bottom:0px;
    margin-top:15px;
    
}
h4{
    font-size:12px;
    color: #666666;
}

h5{
    font-size:14px;
    color:#1F1F24;
    font-weight:400;
    margin-top: 6px;
    margin-bottom: 6px;
}
h6{
    font-size:12px;
    color:#A5A5A7;
    font-weight: 300;
    margin-top:6px;
}
h7{
    margin-top:5px;
}
a{
    color:#333333;}
    
a:hover{
    color:#229ACF;
}
.text-center{
    text-align: center;
}

.block-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container-qr{
    width:960px !important;
}

/* ============================ HOME Page, UpperPart ============================ */
#intro_div_sm_xs{
    margin-bottom: 3%;
    margin-top: 3%;
}
#intro_div_sm_xs h1{
    margin-bottom: 3%;
    font-weight: 700;
}

#logo_div{
    padding-top:10px !important;
}

/* ============================ HOME Page, UpperPart end ============================ */

/* ============================ HOME Page, exp list ============================ */
#logo{
    width:15%;
}

#exp_list{
    margin-top:65%;
}

#exp_list>ul>li{
    list-style: none;
}

#exp_list h4 {
    text-transform: uppercase;
}

#exp_list_sm h4{
    text-transform: uppercase;
}

#exp_list .left {
    float:left;
}

#exp_list_sm{
    margin-bottom: 3%;
}

/* ============================ HOME Page, exp list end ============================ */

/* ============================ HOME Page, proj blocks ============================ */


.project-blocks>.row>div{
    padding:10px;
    height:258px;
}
.project-blocks>.row>div>a, .project-blocks>.row>div>a:hover, .project-blocks>.row>div>a:focus{
    
    color:white;
}
.project-blocks>.row>div>a>div{
    height: 100%;
    width: 100%;
    border-radius: 3px;
    background-color: #EAE9EC;
}
.project-blocks>.row>div>a>div>label:hover{
    cursor: pointer;
}
.project-blocks label{
    font-weight: 400;
}

.project-blocks>.row>div:nth-child(1), .project-blocks>.row>div:nth-child(2){
    height:325px;
}

.proj-thumbnails-title{
    position: absolute;
    bottom: 10px;
    height: 16%;
    left: 10px;
    right:10px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: #96C6DB !important;
}
.proj-thumbnails-title>label{
    margin-left:10%;
    margin-top:3%;
}
.proj-thumbnails-title>label:hover, .proj-thumbnails-title>label:focus{
    cursor: pointer;
}

#proj1-thumbnails>a>div{
    background-color: rgb(250,203,203);
}
#proj1-thumbnails>a>div>img{
    position: absolute;
    width: 78%;
    height: 65%;
    right: 10px;
    bottom: 10px;
    border-bottom-right-radius: 6px;
}

#proj1-thumbnails>a>div>label{
    position: absolute;
    left:21%;
    top:15%;
    font-size:x-large;
}

#proj2-thumbnails>a>div{
    background-color: #A8DAF0;
}
#proj2-thumbnails>a>div>img{
    position: absolute;
    width: auto;
    height: 90%;
    right:15%;
    bottom: 10px;
}
#proj2-thumbnails>a>div>label{
    position: absolute;
    left:7%;
    top:15%;
    width: 20%;
    font-size:x-large;
}

/*#proj3-thumbnails>a>div{*/
/*    background-color: rgb(201,220,245);*/
/*}*/
#proj3-thumbnails>a>div>img:nth-child(1){
    position: absolute;
    width: auto;
    height: 70%;
    left:10%;
    bottom: 18%;
    box-shadow: 3px 3px 3px grey;
}
#proj3-thumbnails>a>div>img:nth-child(2){
    position: absolute;
    width: auto;
    height: 70%;
    right:10%;
    bottom: 18%;
    box-shadow: 3px 3px 3px grey;
}
#proj3-thumbnails>a>div>.proj-thumbnails-title{
    background-color: rgb(160,186,223);
}

/*#proj4-thumbnails>a>div{*/
/*    background-color: rgb(222,222,222);*/
/*}*/
#proj4-thumbnails>a>div>img{
    position: absolute;
    bottom:18%;
    left:10px;
    right:10px;
    width:auto;
    height: 77%;
    border-top-right-radius: 6px;
}
#proj4-thumbnails>a>div>.proj-thumbnails-title{
    background-color: rgb(178,174,175);
}

/*#proj5-thumbnails>a>div{*/
/*    background-color: rgb(248,235,204);*/
/*}*/
#proj5-thumbnails>a>div>img{
    position: absolute;
    left:7%;
    right:7%;
    height: 75%;
    bottom:19%;
    top:10%;
}
#proj5-thumbnails>a>div>.proj-thumbnails-title{
    background-color: rgb(241,205,124);
}

/*#proj6-thumbnails>a>div{*/
/*    background-color: rgb(199,247,230);*/
/*}*/
#proj6-thumbnails>a>div>img:nth-child(1){
    position: absolute;
    width: auto;
    height: 62%;
    left:10%;
    bottom: 18%;
    box-shadow: 3px 3px 3px grey;
}
#proj6-thumbnails>a>div>img:nth-child(2){
    position: absolute;
    width: auto;
    height: 70%;
    right:10%;
    bottom: 18%;
    box-shadow: 3px 3px 3px grey;
}
#proj6-thumbnails>a>div>.proj-thumbnails-title{
    background-color: rgb(129,203,178);
}

/*#proj7-thumbnails>a>div{*/
/*    background-color: rgb(152,198,235);*/
/*}*/
#proj7-thumbnails>a>div>img:nth-child(1){
    position: absolute;
    width: auto;
    height: 70%;
    left:10%;
    bottom: 18%;
    box-shadow: 3px 3px 3px grey;
}
#proj7-thumbnails>a>div>img:nth-child(2){
    position: absolute;
    width: auto;
    height: 70%;
    right:10%;
    bottom: 18%;
    box-shadow: 3px 3px 3px grey;
}
#proj7-thumbnails>a>div>.proj-thumbnails-title{
    background-color: rgb(131,184,226);
}

/*#proj8-thumbnails>a>div{*/
/*    background-color: rgb(202,207,244);*/
/*}*/
#proj8-thumbnails>a>div>img{
    position: absolute;
    right:10px;
    height: 68%;
    bottom:18%;
}
#proj8-thumbnails>a>div>.proj-thumbnails-title{
    background-color: rgb(168,176,236);
}

/* ============================ HOME Page, proj blocks end ============================ */


/* ============================ Project Page ============================ */
p{
    line-height:150%;
    font-size: 20px;
    font-weight:300;
    margin-bottom: 0px;
    margin-top:30px;
}

p.after-title{
    margin-top:6px;
}

p.subtitle{
    font-size:18px;
    line-height:140%;
    color:#666666;
    margin-top:20px;
}

p.list-item{
    margin-top:3px;
}

.image-container{
    padding:20px;
    background-color:#efefef;
    border-radius: 3px;
}

.image-container img{
    
    box-shadow: 0px 0px 5px #bfbfbf;
}

.image-container .chart{
    box-shadow: none;
}

.proj-main-container ul li ul{
    padding-left: 0px !important;
    margin-top:0px;
    font-size: 16px;
    line-height:150%;
}

.proj-main-container ul li ul li{
    list-style: none;
}
.back-icon{
    margin-top:22px;
}
.resume{
    padding-top:5px;
}

.image-after-p{
    margin-top:30px;
}

#old_onestop_img{
    display:none;
}
#old_onestop_img.active{
    display:block;
}
#new_onestop_img{
    display:none;
}
#new_onestop_img.active{
    display:block;
}
.image-gif{
    border-style:solid;
    border-color:#cccccc;
    border-width:1px;   
}

.nav-tabs{
    border-bottom:solid 1px #ddd;
}
.nav{
    margin-bottom: 0px;
    list-style:none;
}
.nav-tabs>li.active>a{
    color: #555;
    cursor: default;
    background-color: #fff;
    border-width:0px 0px 4px 0px !important;
    border-color: transparent;
}
.nav-tabs>li.active{
    border-bottom:solid 4px #ef696a !important;    
}
.proj-main-container ul li ul {
    padding-left: 0px !important;
    margin-top: 10;
    font-size: 14;
    line-height: 100%;
}

/* ============================ Project Page END ============================ */


/* ============================ media queries ============================ */

@media (max-width: 480px) {
    .proj-slider-thumbnails{
        display: none;
    }
    #logo{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .proj-slider-thumbnails{
        position: relative !important;
    }
}

@media (min-width:481px) and (max-width: 768px){

    .proj-slider-thumbnails{
        display: none;
    }
    
    .project-blocks>.row>div{
        height:219px;
    }
    
    .project-blocks>.row>div:nth-child(1), .project-blocks>.row>div:nth-child(2){
        height:275px;
    }
    .proj-thumbnails-title>label{
        font-size:smaller;
    }
    
    #proj1-thumbnails>a>div>label, #proj2-thumbnails>a>div>label{
        font-size:medium;
    }
    #proj4-thumbnails>a>div>img{
        height:76%;
    }
    
    #logo{
        width:4%;
    }
    
    .proj-slider-thumbnails{
        position: relative !important;
    }
}

@media (min-width:769px) and (max-width: 1024px){


    .project-blocks>.row>div{
        height:214px;
    }
    
    .project-blocks>.row>div:nth-child(1), .project-blocks>.row>div:nth-child(2){
        height:269px;
    }
    
    #proj1-thumbnails>a>div>label, #proj2-thumbnails>a>div>label{
        font-size:large;
    }
    
    #proj4-thumbnails>a>div>img{
        height:75%;
    }
}

@media (min-width:1025px) and (max-width: 1280px){


}

@media (min-width:1281px){

    .project-blocks>.row>div{
        height:256px;
    }
    
    .project-blocks>.row>div:nth-child(1), .project-blocks>.row>div:nth-child(2){
        height:323px;
    }
    
    .proj-thumbnails-title>label{
        font-size:medium;
    }
}

/* ============================ media queries end ============================ */

/* ============================ bx-slider configuration ============================ */

.bxslider>li{
    list-style: none;
}

.proj-slider-thumbnails{
    
    /*left:0px;*/
    /*top:3%;*/
    /*width: 300px;*/
    /*padding-left:20px;*/
}

.proj-slider-thumbnailsul{
    padding-left:0px;
}
.proj-slider-thumbnails ul>li{
    list-style:none;
}
.proj-slider-thumbnails ul>li>p{
    text-align:center;
}

.proj-slider-main-content{
    
}

#bx-pager .active>div {
    border-left-color:rgb(246,105,107);
    border-left-width: 3px;
    border-left-style: solid;
    margin-bottom:20px;
}

#bx-pager>li>a>div {
    padding-left: 10px;
    border-left-color:rgb(239,238,239);
    border-left-width: 3px;
    border-left-style: solid;
    margin-bottom:20px;
}

.bx-wrapper .bx-viewport{
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
/* ============================ bx-slider configuration end ============================ */